/* .sidebar {
    width: 200px;
    height: 100%;
    background-color: #7fe193;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    text-decoration: underline;
  }
   */
/* sidebar.css */

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #72d5e2;
  color: #fff;
  padding: 20px;
  position: fixed; /* Fixes the sidebar position */
  left: 0; /* Positions the sidebar on the left side */
  top: 0; /* Aligns the sidebar to the top */
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.sidebar li a:hover {
  text-decoration: underline;
}
