.old-message {
  display: flex;
  flex-direction: column;
  align-self: flex-start; /* Align messages to the left */
}

.old-message .message-content {
  padding: 5px;
  background-color: #f1f0f0; /* Light gray background */
  border-radius: 10px;
  margin: 5px 10px;
}

.old-message .message-info {
  font-size: 0.8rem;
  color: #666;
}
