/* Channels.css */

.channels {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.channels h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666;
}

.channels ul {
  list-style-type: none;
  padding: 0;
}

.channels ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
  cursor: pointer;
}

.channels ul li:hover {
  color: #000;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}
